@model Khdamat.Models.WaitingRequests

@{
    ViewData["Title"] = "WaitingRequests";
}

<h2 class="tit makeflex">الخدمات المتاحة</h2>



 @*@using(Html.BeginForm())
{
    @Html.TextBoxFor(model=>model.id)
    @Html.DropDownListFor(model=>model.id,)
   <button type="submit">subs</button>
}*@
@using (Html.BeginForm()) {
<form asp-action="WaitingRequest">
    <div class="asel">

    <label >نوع الخدمة</label>
     <select  asp-for="id" style="border-color: #ced4da; ">
         <option value=0>الكل</option>
     @if (Model.Services != null)
                  {
                    @foreach (Service item in Model.Services)
                    {
                        <option  value=@item.Service_ID>@item.Name</option>
                    }
                  }
                  </select>
                  
                  <label>المكان</label>
                   <select asp-for="loc" style=" border-color: #ced4da; ">
         <option value="">الكل</option>
     @if (Model.cities != null)
                  {
                    @foreach (string item in Model.cities)
                    {
                        <option  value=@item>@item</option>
                    }
                  }
                  </select>
                  <label>النوع</label>
                   <select asp-for="gender" style=" border-color: #ced4da; ">
                        <option value=' '>الكل</option>
                        <option  value="m">ذكر</option>
                        <option  value="f">انثي</option>
                    
                  }
                  </select>

                  <label>السعر</label>
                  <span style="border-color: #ced4da; ">@Html.TextBoxFor(m => m.price, new { @value = 0 } )</span>
                  <input class="abtn" type="submit" value="بحث" />
                 </div>
                   

    </form>
}



<hr />

<table class="content-table" style="ba">
    <thead>
        <tr style="background-color: #2196f3;">
            <th>عنوان الخدمة</th>
             <th>المكان</th>
              <th>مطلوب</th>
               <th>العمر</th>
                <th>السعر</th>
                 <th>الموعد</th>
        </tr>
    </thead>
    <tbody>
@foreach(Request r in Model.Requests)
{

    <tr onclick="location.href='@Url.Action("SelectedReq", "Request",new{id=r.Req_ID})'">
          <td>@r.Title</td> 
          <td>@r.City</td> 
                <td >
                    @{
                        string g;
                        if (r.Gender=='m')
                            g="ذكر";
                        else if (r.Gender=='f')
                            g="انثي";
                        else g="غير محدد";
                    } @g
               </td> 
           <td>[@r.Min_Age , @r.Max_Age ] </td>
            <td>@r.Max_Price</td>
          <td>@r.Date_Req.ToString().Substring(0,9)</td> 
         
        
    </tr>
}
</tbody>
</table>