@model List<Khdamat.Models.Report>

@{
    ViewData["Title"] = "reportControl";
}

<h2 class="makeflex">التحكم في البلاغات</h2>
<hr />
@foreach (var item in Model)
{

<div>
    <div class="makeflex">
        <p class="rigthTitle">اي دي الريبورت:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Report_ID)</p>
    </div>
    @*<div class="makeflex">
            <p class="rigthTitle">اي دي السابورتر:</p>
            <p class="leftInfo">@Html.DisplayFor(modelItem => item.Supporter_ID)</p>
        </div>*@
    <div class="makeflex">
        <p class="rigthTitle">اي دي العامل:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Worker_ID)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">اي دي الزبون:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Client_ID)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">اي دي الطلب:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Req_ID)</p>
    </div>

    <div class="makeflex">
        <p class="rigthTitle">محتوي الريبورت:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Description)</p>
    </div>
    <div class="makeflex">
        <p class="rigthTitle">رسالة العامل:</p>
        <p class="leftInfo">@Html.DisplayFor(modelItem => item.Comment)</p>
    </div>
</div>
    <hr />


}


